<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
    <description>PreEditProductServlet</description>
    <display-name>PreEditProductServlet</display-name>
    <servlet-name>PreEditProductServlet</servlet-name> <servlet-class>controllerz.PreEditProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>PreEditProductServlet</servlet-name>
    <url-pattern>/PreEditProductServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <description>DeleteProductServlet</description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name> <servlet-class>controllerz.DeleteProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <description>PreEditAccountServlet</description>
    <display-name>PredEditAccountServlet</display-name>
    <servlet-name>PreEditAccountServlet</servlet-name> <servlet-class>controllerz.PreEditAccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>PreEditAccountServlet</servlet-name>
    <url-pattern>/PreEditAccountServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <description>FilterSalesServlet</description>
    <display-name>FilterSalesServlet</display-name>
    <servlet-name>FilterSalesServlet</servlet-name> <servlet-class>controllerz.FilterSalesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>FilterSalesServlet</servlet-name>
    <url-pattern>/FilterSalesServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <description>LogoutServlet</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name> <servlet-class>controllerz.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/anoto</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <description>QuerySpecificProductServlet</description>
    <display-name>QuerySpecificProductServlet</display-name>
    <servlet-name>QuerySpecificProductServlet</servlet-name> <servlet-class>controllerz.QuerySpecificProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>QuerySpecificProductServlet</servlet-name>
    <url-pattern>/QuerySpecificProductServlet</url-pattern>
    </servlet-mapping>
</web-app>
